@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    src:
        url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal;
    src:
        url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    font-style: normal;
    src:
        url('../fonts/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src:
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    src:
        url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src:
        url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src:
        url('../fonts/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-display: swap;
}