.market {
    text-align: center;
    padding-top: 100px;

    @include mq('tablet-2') {
        padding-top: 30px;
    }

    &__top {
        width: 100%;
        position: relative;
        padding-bottom: 210px;

        @include mq('phone') {
            padding-bottom: 150px;
        }

        @include mq('phone-1') {
            padding-bottom: 160px;
        }
    }

    &__top-title {
        @include mq('phone') {
            max-width: 280px;
            line-height: 1.2;
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }

    &__text {
        max-width: 480px;
        margin: 0 auto;

        @include mq('phone') {
            padding: 20px;
        }
    }

    &__bottom {
        background-color: $light-bg;
        padding-top: 300px;
        padding-bottom: 100px;

        @include mq('tablet-2') {
            padding-top: 250px;
            padding-bottom: 50px;
        }

        @include mq('tablet') {
            padding-top: 230px;
        }

        @include mq('phone') {
            padding-top: 200px;
        }
    }

    &__title {
        max-width: 740px;
        color: $primary;
        margin: 0 auto;
        margin-bottom: 65px;

        @include mq('tablet') {
            margin-bottom: 30px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px;

        @include mq('tablet-2') {
            grid-template-columns: repeat(auto-fit, 330px);
            justify-content: center;
        }

        @include mq('tablet-2') {
            grid-gap: 30px;
        }

        @include mq('phone') {
            grid-template-columns: repeat(auto-fit, 300px);
            justify-content: center;
        }
    }
}

.market-card {
    position: absolute;
    bottom: -215px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 940px;
    background-color: $white;
    border-radius: 16px;
    padding: 48px;
    margin: 0 auto;
    box-shadow: 0px 80px 40px rgba($light-purple, 0.05);

    @include mq('tablet-2') {
        padding: 24px;
        bottom: -50%;
        box-shadow: 0px 60px 30px rgba($light-purple, 0.05);
    }

    @include mq('phone') {
        width: 100%;
        box-shadow: 0px 10px 20px rgba($light-purple, 0.05);
    }

    &__form {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        @include mq('tablet-2') {
            max-width: 420px;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-bottom: 30px;
        }

        @include mq('tablet-2') {
            margin-bottom: 20px;
        }
    }

    &__input {
        &::placeholder {
            color: $primary;
            transition: color .3s;

            @include mq('phone') {
                font-size: 16px;
            }
        }

        &:hover::placeholder {
            color: $neutral-gray;
        }

        @include mq('tablet-2') {
            margin-bottom: 15px;
        }
    }

    &__result {
        color: $primary;
        text-align: left;
    }

    &__result-title {
        display: block;
        color: $accent;
        font-weight: 500;
        margin-bottom: 16px;
        text-transform: uppercase;

        @include mq('tablet-2') {
            margin-bottom: 10px;
        }
    }

    &__result-currency {
        display: inline-block;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0.04em;
        margin-bottom: 5px;

        &--fiat {
            color: $accent;
        }

        @include mq('tablet-2') {
            font-size: 28px;
        }

        @include mq('phone') {
            font-size: 20px;
        }
    }

    &__result-text {
        color: $neutral-gray;
        letter-spacing: 0.01em;
    }

    .jq-number__field {
        border-radius: 0;
        width: 400px;
        margin-right: 50px;
        border-bottom: 1px solid $light-gray;
        font-size: 20px;
        outline: transparent;
        transition: color .3s;

        @include mq('phone') {
            max-width: 220px;
            font-size: 16px;
        }
    }

    .jq-number__field input {
        width: 100%;
        padding: 8px 10px 8px 0;
        outline: transparent;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        color: $primary;
        transition: color .3s;

        @include mq('tablet-2') {
            padding: 4px 10px 4px 0;
            margin: 0;
        }
    }

    &__select {
        margin-right: 50px;

        @include mq('tablet-2') {
            margin-bottom: 15px;
        }

        &:focus {
            outline: 2px solid $accent;
        }
    }

    .jq-selectbox__select {
        position: relative;
        width: 200px;
        padding: 8px 10px;
        text-align: left;
        border-bottom: 1px solid $light-gray;
        font-family: 'Rubik', sans-serif;
        color: $primary;
        cursor: pointer;

        @include mq('tablet-2') {
            padding: 4px 10px;
        }
    }

    &__select:focus {
        outline: transparent;
    }

    .jq-selectbox__select-text {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 20px;

        @include mq('tablet-2') {
            font-size: 16px;
        }

        &:focus {
            outline: 2px solid $accent;
        }
    }

    .jq-selectbox__trigger {
        border-left: none;
    }

    .jq-selectbox__dropdown {
        width: 100%;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 20px;
        border-radius: 4px;
        background: $white;
        box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
        text-align: left;
        color: $primary;
        cursor: pointer;
    }

    .jq-selectbox li {
        padding: 8px 10px;

        &:last-child {
            border-radius: 4px;
        }
    }

    .jq-selectbox li:hover {
        background-color: $neutral-gray;
        transition: background-color .3s;
        color: $white
    }

    .jq-selectbox li.selected {
        background-color: $accent;
        color: $white;
    }

    .jq-selectbox__trigger-arrow {
        position: absolute;
        width: 12px;
        height: 12px;
        right: 0;
        top: 15px;
        transform: rotate(180deg);
        mask-image: url('../images/sprite.svg#triangle');
        background-color: $neutral-gray;
        transition: background-color .3s;

        &:hover {
            background-color: $primary;
        }
    }

    .jq-selectbox__select:hover .jq-selectbox__trigger-arrow {
        background-color: $primary;
    }

    &__button {
        color: $white;
        font-size: 18px;
        line-height: 1.5;
        padding: 16px 32px;
        cursor: pointer;
        transition: box-shadow .5s background-color .3s color .3s;

        &:hover {
            box-shadow: 0 0 0 2px $accent;
        }

        @include mq('tablet-2') {
            padding: 14px 28px;
        }

        @include mq('phone') {
            font-size: 16px;
            padding: 10px 28px;
        }
    }
}

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 16px;
    padding: 176px 24px 48px 24px;
    transition: background-color .3s;

    @include mq('tablet') {
        max-width: 330px;
        padding: 156px 20px 40px 20px;
    }

    @include mq('phone') {
        padding: 136px 20px 40px 20px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 48px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;

        @include mq('phone') {
            top: 40px;
            width: 60px;
            height: 60px;
        }
    }

    &--bitcoin {
        &::before {
            background-image: url('../../images/sprite.svg#logo-bitcoin');
        }
    }

    &--ethereum {
        &::before {
            background-image: url('../../images/sprite.svg#logo-ethereum');
        }
    }

    &--litecoin {
        &::before {
            background-image: url('../../images/sprite.svg#logo-litecoin');
        }
    }

    &:hover {
        background-color: $purple;
        color: $white;
    }

    &:hover .product-card__title,
    &:hover .product-card__abbr,
    &:hover .product-card__text {
        color: inherit;
    }

    &:hover .product-card__link-wrapper {
        opacity: 0;
        background-color: #fff;
        transform: scale(0.5) translateX(140px);
    }

    &:hover .product-card__link {
        opacity: 1;
    }

    &__title {
        display: inline-block;
        font-size: 32px;
        font-weight: 700;
        color: $primary;
        margin: 0 5px 15px 0;

        @include mq('phone') {
            font-size: 24px;
            margin: 0 0 10px 0;
        }
    }

    &__abbr {
        font-size: 18px;
        font-weight: 500;
        color: $neutral-gray;
        text-transform: uppercase;
        vertical-align: text-bottom;

        @include mq('phone') {
            font-size: 14px;
            vertical-align: top;
        }
    }

    &__text {
        flex-grow: 1;
        color: $secondary-gray;
        margin-bottom: 25px;
    }

    &__link-wrapper {
        position: relative;
        display: block;
        width: 64px;
        height: 64px;
        border: 2px solid rgba($purple, 0.2);
        border-radius: 50%;
        margin: 0 auto;
        transition: transform .4s, opacity .2s;
        pointer-events: none;
        z-index: 2;

        @include mq('phone') {
            opacity: 0;
        }

        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            mask-image: url('../images/sprite.svg#angle');
            background-color: $accent;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link {
        min-width: 205px;
        position: absolute;
        @extend %btn-link;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        opacity: 0;
        transition: opacity .5s background-color .3s, color .3s;

        @include mq('phone') {
            opacity: 1;
        }
    }
}