<section class="features" id="features">
    <div class="container">
        <h2 class="visually-hidden">Advantages of the crypto platform</h2>
        <div class="title features__title">
            Market sentiments, portfolio, and run the infrastructure of your choice
        </div>
        <ul class="features__list">
            <li class="features__item features__item--left">
                <div class="features__inner">
                    <h3 class="features__caption">Invest Smart</h3>
                    <p class="features__text">
                        Get full statistic information about the behaviour of buyers and sellers will help you to make
                        the decision.
                    </p>
                    <a class="btn info-link" href="#">Learn More</a>
                </div>
                <div class="features__content features__content--right">
                    <div class="chart" style="background-image: url(images/chart.png)">
                        <div class="chart__currency">
                            <div class="chart__currency-coin">
                                <h4 class="chart__currency-title">Bitcoin</h4>
                                <span class="chart__currency-abbr">btc</span>
                                <span class="chart__currency-value">0.00080 btc</span>
                            </div>
                            <span class="chart__currency-profit">+125%</span>
                        </div>
                        <div class="chart__info chart__info--trade">
                            <span class="chart__info-caption">Increase in Trade</span>
                            <span class="chart__info-value chart__info-value--trade">
                                +75%
                            </span>
                            <span class="chart__info-description">Sell option</span>
                        </div>
                        <div class="chart__info chart__info--price">
                            <span class="chart__info-value">$15.32</span>
                            <span class="chart__info-description">Price in dollar</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="features__item features__item--right">
                <div class="features__content features__content--left">
                    <img class="statistic-page" src="images/statistic.png" alt="Statistic page image">
                </div>
                <div class="features__inner">
                    <h3 class="features__caption">Detailed Statistics</h3>
                    <p class="features__text">
                        View all mining related information in realtime, at any point at any location and decide which
                        polls you want to mine in.
                    </p>
                    <a class="btn info-link" href="#">Learn More</a>
                </div>
            </li>
            <li class="features__item features__item--left">
                <div class="features__inner">
                    <h3 class="features__caption">Grow your profit and track your investments</h3>
                    <p class="features__text">
                        Use advanced analytical tools. Clear TradingView charts let you track current and historical
                        profit investments.
                    </p>
                    <a class="btn info-link" href="#">Learn More</a>
                </div>
                <div class="features__content features__content--right">
                    <div class="quotes">
                        <div class="quotes__header">
                            <span class="quotes__header-title">Price</span>
                            <span class="quotes__header-title--enable">Change</span>
                            <span class="quotes__header-title">Volume (24h)</span>
                        </div>
                        <ul class="quotes__list">
                            <li class="quotes__item">
                                <a class="quotes__link" href="#">
                                    <div class="quotes__currency quotes__currency--bitcoin">
                                        <span class="quotes__currency-abbr">btc</span>
                                        <span class="quotes__currency-name">Bitcoin</span>
                                    </div>
                                    <span class="quotes__profit quotes__profit--money">$6750</span>
                                    <span class="quotes__profit quotes__profit--percent positive">+7.3%</span>
                                    <span class="quotes__profit quotes__profit--money">$3420214</span>
                                </a>
                            </li>
                            <li class="quotes__item">
                                <a class="quotes__link" href="#">
                                    <div class="quotes__currency quotes__currency--ethereum">
                                        <span class="quotes__currency-abbr">eth</span>
                                        <span class="quotes__currency-name">Ethereum</span>
                                    </div>
                                    <span class="quotes__profit quotes__profit--money">$156.83</span>
                                    <span class="quotes__profit quotes__profit--percent negative">-0.9%</span>
                                    <span class="quotes__profit quotes__profit--money">$1812350</span>
                                </a>
                            </li>
                            <li class="quotes__item">
                                <a class="quotes__link" href="#">
                                    <div class="quotes__currency quotes__currency--litecoin">
                                        <span class="quotes__currency-abbr">ltc</span>
                                        <span class="quotes__currency-name">Litecoin</span>
                                    </div>
                                    <span class="quotes__profit quotes__profit--money">$8535</span>
                                    <span class="quotes__profit quotes__profit--percent positive">+8.2%</span>
                                    <span class="quotes__profit quotes__profit--money">$5820399</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>