<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <a class="link logo footer__logo" href="#">
                <img class="logo__img" src="images/logo.svg" alt="Crypto logo" width="134px" height="40px">
            </a>
            <div class="footer__menu">

                <div class="footer__menu-container">
                    <h3 class="footer__title">Quick Link</h3>

                    <ul class="footer__list">
                        <li class="footer__item">
                            <a class="link footer__link" href="#">Home</a>
                        </li>
                        <li class="footer__item">
                            <a class="link footer__link" href="#">Products</a>
                        </li>
                        <li class="footer__item">
                            <a class="link footer__link" href="#">About</a>
                        </li>
                        <li class="footer__item">
                            <a class="link footer__link" href="#">Features</a>
                        </li>
                        <li class="footer__item">
                            <a class="link footer__link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__menu-container">
                    <h3 class="footer__title">Resources</h3>

                    <ul class="footer__list">
                        <li class="footer__item">
                            <a class="link footer__link" href="#">Download Whitepapper</a>
                        </li>
                        <li class="footer__item">
                            <a class="link footer__link" href="#">Smart Token</a>
                        </li>
                        <li class="footer__item">
                            <a class="link footer__link" href="#">Blockchain Explorer</a>
                        </li>
                        <li class="footer__item">
                            <a class="link footer__link" href="#">Crypto API</a>
                        </li>
                        <li class="footer__item">
                            <a class="link footer__link" href="#">Interest</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="payments">
                <h2 class="payments__title">We accept following payment systems</h2>

                <ul class="payments__list">
                    <li class="payments__item">
                        <button class="payments__btn">
                            <svg width="48" height="48">
                                <use xlink:href="images/sprite.svg#visa-logo"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="payments__item">
                        <button class="payments__btn">
                            <svg width="48" height="38">
                                <use xlink:href="images/sprite.svg#mastercard-logo"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="payments__item">
                        <button class="payments__btn">
                            <svg width="40" height="40">
                                <use xlink:href="images/sprite.svg#bitcoin-logo"></use>
                            </svg>
                        </button>
                    </li>
                </ul>

            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__rights">
                &copy;2021 CRYPTO. All rights reserved
            </div>
            <ul class="social">
                <li class="social__item">
                    <a class="link social__link" style="-webkit-mask-image: url(images/sprite.svg#facebook);" href="#"></a>
                </li>
                <li class="social__item">
                    <a class="link social__link" style="-webkit-mask-image: url(images/sprite.svg#instagram);" href="#"></a>
                </li>
                <li class="social__item">
                    <a class="link social__link" style="-webkit-mask-image: url(images/sprite.svg#youtube);" href="#"></a>
                </li>
                <li class="social__item">
                    <a class="link social__link" style="-webkit-mask-image: url(images/sprite.svg#twitter);" href="#"></a>
                </li>
                <li class="social__item">
                    <a class="link social__link" style="-webkit-mask-image: url(images/sprite.svg#linkedin);" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>