<section class="hero">
    <div class="container">
        <div class="hero__wrapper" style="background-image:url('images/bitcoin-bg.png')">
            <div class="hero__inner">
                <div class="hero__offer">
                    <span class="hero__offer-accent">75% save</span>
                    <span>For the Black Friday weekend</span>
                </div>
                <P class="hero__title">Fastest & secure platform to invest in crypto</P>
                <p class="hero__text">Buy and sell cryptocurrencies, trusted by 10M wallets with over $30 billion in transactions.</p>
                <a class="btn hero__link" href="#">Try for FREE</a>
            </div>
        </div>
    </div>
</section>